# Version Control
.git
.gitignore

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Node
**/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Go
**/vendor

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build Artifacts
**/dist
**/build
**/*.jar
apps/server-media/bin
packages/proto/generated/go/go.sum

!**/gradle-wrapper.jar
