# RVC WebUI 경로 설정
# Windows: C:/Users/본인계정/경로 형식
# Linux/Mac: /home/사용자/경로 형식

RVC_ASSETS_PATH=/path/to/Retrieval-based-Voice-Conversion-WebUI/assets
RVC_CODE_INFER_PATH=/path/to/Retrieval-based-Voice-Conversion-WebUI/infer
RVC_CODE_CONFIGS_PATH=/path/to/Retrieval-based-Voice-Conversion-WebUI/configs